nav {
  padding: 10px 0;
  width: 40%;
}
nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  max-width: 100%;
}
nav .nav-content ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
nav .nav-content ul li a {
  color: #2c3639;
  display: block;
}
nav .nav-content ul li a.active {
  border-bottom: 3px solid var(--mainColor);
}
